<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test_task</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>

    <section class="button">
        <h1 class="button_identifier">Ідентифікатор користувача</h1>

        <div id="users" class="button_id">

            <button class="button_user" id="user_name_1" v-model="username"> User 1 </button>
            <label for="username" id="name1">{{name}}</label><br>
            <button class="button_user" id="user_name_2" v-model="username"> User 2 </button>
            <label for="username" id="name2">{{name}}</label><br>
            <button class="button_user" id="user_name_3" v-model="username"> User 3 </button>
            <label for="username" id="name3">{{name}}</label><br>
            <button class="button_user" id="user_name_4" v-model="username"> User 4 </button>
            <label for="username" id="name4">{{name}}</label><br>
            <button class="button_user" id="user_name_5" v-model="username"> User 5 </button>
            <label for="username" id="name5">{{name}}</label><br>

    </section>

    </div>

    <!-- <div class="users_name">
        <label for="username" id="name1">{{name}}</label><br>
        <label for="username" id="name2">{{name}}</label><br>
        <label for="username" id="name3">{{name}}</label><br>
        <label for="username" id="name4">{{name}}</label><br>
        <label for="username" id="name5">{{name}}</label><br>
    </div> -->

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="JS/script.js"></script>

</html>